.gkd__brand{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gkd__brand div{

    flex: 1;
    max-width: 150px;
    min-width: 120px;
    margin: 1.0rem;

    display: flex;
    justify-content: center;
    align-items: center;
}