.gkd__navbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.gkd__navbar-links{

    display: flex;
    flex: 1;    /* grow/shrink/basis */
    justify-content: flex-start;
    align-items: center;
}

.gkd__navbar-links_logo{

    margin-right: 2rem;
}


.gkd__navbar-links_logo img{

    width: 36px;
    height: 36px;
}

.gkd__navbar-links_container{

    display: flex;
    flex-direction: row;
}

.gkd__navbar-sign{

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gkd__navbar-sign button,
.gkd__navbar-menu_container button{

    padding: 0.1rem 1rem;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 0.875em;
    line-height: 25px;
    background: #FF4820;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}


.gkd__navbar-links_container p,
.gkd__navbar-sign p,
.gkd__navbar-menu_container p{

    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.00rem;
    line-height: 25px;  /* Add unit */
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}


.gkd__navbar-menu{
    
    margin-left: 1rem;
    display: none;
    position: relative;
}

.gkd__navbar-menu svg{

    cursor: pointer;
}

.gkd__navbar-menu_container{

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);
}


.gkd__navbar-menu_container p{ margin: 1rem 0; }

.gkd__navbar-menu_container-links-sign{ display: none; }


/* Media Queries */
@media screen and (max-width: 1050px) {

    .gkd__navbar-links_container{ display: none; }
    .gkd__navbar-menu{ display: flex; }
}

@media screen and (max-width: 700px) {

    .gkd__navbar{ padding: 2rem 4rem; }
}

@media screen and (max-width: 550px) {

    .gkd__navbar{ padding: 2rem; }
    .gkd__navbar-sign{ display: none; }

    .gkd__navbar-menu_container{

        top: 20px;
    }

    .gkd__navbar-menu_container-links-sign{

        display: block;
    }
}